body {
  font-family: Ubuntu, sans-serif;
}

h1 {
  margin-bottom: 0px;
}

.App {
  text-align: center;
  margin: 0px 25%;
}

.gui_container {
  margin: 30px auto 0px;
  padding: 5px;
  display: inline-block;
  border: solid;
}

.gui_title {
  margin: 5px;
}

.gui_content {
  margin: 10px 0px 5px;
}
